<h1> All Songs </h1>

<% @songs.each do |song| %>
  <h2><%=song.title %></h2>
  <p>Plays: <%=song.play_count%></p>
  <p>Awards for this Song</p>
  <ul>
  <% song.awards.each do |award| %>
  <li><%= award.name %> in
      <% award.song_awards.each do |song_award| %>
      <%= song_award.year %> </li>
      <% end %>
  <% end %>
</ul>
  <p><%= button_to 'Add Song', carts_path(song_id: song.id), class: 'btn btn-danger' %></p>
<%end%>
